{% extends "base.html" %}

{% block content %}
<div class="container mt-4 center-div">
    <h1 class="mb-4 about-title">About This Project</h1>
    <p>
        This Flask blog project is a web application where users can read and create blog posts, and comment on them. It's built using Flask, which is a lightweight WSGI web application framework. The blog features user authentication, post creation and admin functionalities.
    </p>
    <p>
        For more details about the project, check out the following link on GitHub:
        <a href="https://github.com/tsooli97/Flask-Blog-Site" target="_blank">
            https://github.com/tsooli97/Flask-Blog-Site
        </a>
    </p>
</div>
{% endblock %}
